<ion-header>
  <ion-navbar>
    <ion-title color="primary" text-center>
      Streaming Media
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content color="dark">
  <button ion-button full (click)="startVideo()">Start Video</button>
  <button ion-button full (click)="startAudio()">Start Audio</button>
  <button ion-button full (click)="stopAudio()" color="danger">Stop Audio</button>
</ion-content>
